body {

     color: white;
     background:black ;
     margin:0px;
     font-family: "Bebas Neue", sans-serif;
     margin-bottom: 100px;

}


header {

    border-bottom: solid 2px rgb(245, 10, 10);
     padding: 20px;
    font-size: 32px;
     color: rgb(245, 10, 10)




}

.chamada {

    background : rgb(77, 5, 5);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    




}

.chamada-texto {

   margin-right: 25%;





}

h1 {

font-size: 70px;

}

p {

    font-size: 40px;
}

img {

height: 300px;

}

.categoria-vídeos {
 
   display: flex;
   overflow-x: auto;
   gap: 20px;
}

.categoria {

padding-left: 20px;
padding-right: 20px;
margin-top: 50px;



}

.categoria-vídeos img {

 opacity: 0.5;

}

.categoria-vídeos img:hover {

opacity: 1.0;
border: 1px solid white;

} 

.categoria h2 {

color: rgb(245, 10, 10);


}




